In [27]:
import sqlite3

In [28]:
nome = 'alunos.db'

# Criando as tabelas

In [29]:
script_alunos = """CREATE TABLE IF NOT EXISTS Alunos (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                nome TEXT NOT NULL,
                idade INTEGER NOT NULL,
                email TEXT NOT NULL
            );"""
            

try:
    with sqlite3.connect(nome) as conn:
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(script_alunos)

        # Salva as alterações no banco de dados
        conn.commit()

        print("Tabelas Criadas com Sucesso")
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

Tabelas Criadas com Sucesso

# Consultando as tabelas

In [59]:
sql = "SELECT * FROM Cadastro"


try:
    with sqlite3.connect('cadastro.db') as conn:
        # Cria um cursor
        cur = conn.cursor()
        

        # Executa o script
        cur.execute(sql)
        res = cur.fetchall() # retorna uma lista de listas

        print(res)
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

[(1, 'Alice Alves', 'byalicee@gmail.com', 15, 'byyalicee', 'alicealveslves'), (2, 'Kaio Vasconcelo', 'Kaivasconcelo@gmail.com', 17, 'kaivasconn', 'kai17vasconcelo')]

# Consulta 2 - Neste exemplo o retorno é uma lista de dicionários

In [56]:
sql = "SELECT * FROM Alunos"


try:
    with sqlite3.connect(nome) as conn:
        conn.row_factory = sqlite3.Row # Essa linha é opcional. Ela faz com que o resultado seja uma lista de dicionários
        # Cria um cursor
        cur = conn.cursor()
        

        # Executa o script
        cur.execute(sql)
        res = cur.fetchall() # retorna uma lista de dicionários

        
except sqlite3.OperationalError as e:
    print("ERRO: ", e)

In [57]:
for i in res:
    print(i['nome'], i['idade'], i['email'], i['id'])

Alice 15 byalice@email.com 1
Kaio 17 kaivasconcelo@email.com 2
Davi 16 davibraga@email.com 4
Isaias 16 isaiasjessus@email.com 6

# Inserindo dados

In [47]:
sql = "INSERT INTO Alunos (nome, idade, email) VALUES (?,?,?)"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, ('Isaias', 16, 'isaiasjessus@email.com'))

        # Salva as alterações no banco de dados
        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

# Atualizando um registro

In [51]:
sql = "UPDATE Alunos SET idade = ? WHERE id = ?"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, (17, 2))

        # Salva as alterações no banco de dados
        conn.commit()


except sqlite3.OperationalError as e:
    print("ERRO: ", e)

# Deletando um registro

In [55]:
sql = "DELETE FROM Alunos WHERE id = ?"

try:
    with sqlite3.connect(nome) as conn:
            
        # Cria um cursor
        cur = conn.cursor()

        # Executa o script
        cur.execute(sql, (7,))

        # Salva as alterações no banco de dados
        conn.commit()
        


except sqlite3.OperationalError as e:
    print("ERRO: ", e)